.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination-link-previous,
.pagination-link-next {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.pagination-item.active .pagination-link {
  background-color: #d35a3c;
  color: white;
  border-color: #d35a3c;
}

.pagination-item.disabled .pagination-link {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
  border-color: #f0f0f0;
}

.pagination-break {
    margin: 0 4px;
    cursor: default;
}
